# Esenciales para la Web y Base de Datos
Django==5.2.7
gunicorn==23.0.0
dj-database-url==3.1.0
psycopg2-binary==2.9.11
whitenoise==6.11.0
django-widget-tweaks==1.5.0

# Para tus cálculos y Excel (S&M Automation)
pandas==2.3.3
numpy==2.3.3
openpyxl==3.1.5
python-dateutil==2.9.0.post0

# Para PDFs (Quitamos WeasyPrint temporalmente porque es la que falla)
# Si usas reportlab o pypdf, estas NO dan problemas:
reportlab==4.4.7
pypdf==6.6.0
PyPDF2==3.0.1
xhtml2pdf==0.2.17